.mainForm {
  margin: auto;
  width: 670px;
}

body,
* {
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.labelField {
  margin-left: 20px;
  margin-top: 45px;
}

.buttonForm {
  background-color: #3addbe;
  border-radius: 50px;
  border-color: #3addbe;
  margin-top: 30px;
  font-size: 15px;
  width: 90px;
  margin-right: 30px;
  margin-left: 20px;


}


.inputDescription {
  text-decoration: black;
  background-color: white;
  width: 560px;
  padding-bottom: 40px;
  margin-top: 20px;
  border-radius: 50px;
  border-color: black;
}

.inputTitle {
  text-decoration: black;
  background-color: white;
  border-radius: 50px;
  border-color: black;
  width: 560px;
}

.inputDate {
  text-decoration: black;
  background-color: white;
  border-radius: 50px;
  border-color: black;
  width: 300px;

}

.center-title {
  text-align: center;
}