.mainForm {
  max-width: fit-content;
  margin: auto;
}
 body, *{
    font-family: 'Roboto', sans-serif;
}

.labelField {
  margin-left: 20px;
  margin-top: 45px;
}

.buttonForm {
    background-color: burlywood;
    border-radius: 50px;
    border-color: burlywood;
   margin-top: 30px;
   
}


.inputDescription {
  text-decoration: black;
  background-color: beige;
  width: 560px;
  padding-bottom: 40px;
}

.inputTitle {
  text-decoration: black;
  background-color: beige;
  width: 560px;
}

.inputDate {
  text-decoration: black;
  background-color: beige;
  width: 300px;
}